html, body {
  height: 100%;
}

html {
  font-size: 18px;

  @include respond-to(medium) {
    font-size: 20px;
  }
}

body {
  background: $color-bg;
  color: $color-main;
  font-family: $main-font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-x: hidden;

  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;

  @include respond-to(medium) {
    font-size: 20px;
  }

  .notice,
  .alert {
    margin: 0;
  }

  > .content {
    padding: $grid/2;
  }
}

.body-wrapper {
  flex: 1 0 auto;
  padding: $grid/4*3;
}

.medium-zoom-image--opened {
  z-index: 99999999;
}

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 9999999;
}

a {
  color: $color-main;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:hover, a:active, a:focus {
  outline: 0;
}

a:hover {
  color: $color-red;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.arab {
  font-family: BlinkMacSystemFont, HelveticaNeue, Helvetica, Roboto, Arial, sans-serif!important;
  direction:rtl;
}

.video {
  margin: auto;
  margin-bottom: $grid*3;
  max-width: 600px;

  @include respond-to(medium) {
    max-width: 1400px;
  }

  video {
    display: block;

    width: 100%;
  }
}

.test-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border: 2px solid $color-main;
  padding: $grid/2;
  margin: auto;
  max-width: 600px;

  > .timer,
  > .question-number {
    font-weight: 500;
    letter-spacing: 1.3px;
  }

  > .question {
    font-size: 1.2rem;
    width: 100%;
    margin-top: $grid;
    margin-bottom: $grid/2;
    direction: initial;
    text-align: right;

    @include respond-to(medium) {
      margin-top: $grid*3;
    }
  }

  > .answers {
    display: flex;
    flex-wrap: wrap;

    font-size: 1.2rem;
    width: 100%;

    > .answer {
      border: 2px solid $color-main;
      color: $color-main;
      cursor: pointer;
      padding: $grid/4 $grid/2;
      margin-bottom: $grid/2;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      @include respond-to(medium) {
        margin-bottom: 0;
        margin-left: $grid/2;
        width: auto;
      }
    }
  }
}

.label-for-later {
  text-align: left;
  margin-bottom: $grid/2;
}

p {
  margin-top: 0;
  line-height: 1.2rem;
  text-align: left;

  > a {
    text-decoration: underline;
  }

  &.link-for-later {
    border: 2px solid $color-main;
    padding: $grid/2;
  }
}

.arab {
  > .block p {
    text-align: right;
  }
}

.block {
  margin: auto;
  margin-bottom: $grid*3;
  max-width: 600px;
  text-align: center;

  &.block-secondary {
    @include respond-to(medium) {
      border: 2px solid $color-main;
      padding: $grid/2;
    }

    > .button {
      @include respond-to(medium) {
        margin-top: $grid;
      }
    }
  }

  > .button {
    margin-top: 4px;
  }
}

.subscribe-success {
  margin: auto;
  width: 100%;
  max-width: $sizeM;
  padding: $grid/4*3;

  > a {
    text-decoration: underline;
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.homepage {
  border-top: 1px solid $color-main;
  padding-top: $grid*2;

  // @include respond-to(medium) {
  //   padding-top: $grid*2;
  // }
}

.turbolinks-progress-bar {
  display: none;
}
