html, body {
  height: 100%;
}

html {
  font-size: 18px;

  @include respond-to(medium) {
    font-size: 20px;
  }
}

body {
  background: $color-bg;
  color: $color-main;
  font-family: $main-font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  word-wrap: break-word;
  overflow-x: hidden;

  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;

  @include respond-to(medium) {
    font-size: 20px;
  }

  .notice,
  .alert {
    margin: 0;
  }

  > .content {
    padding: $grid/2;
  }
}

.body-wrapper {
  flex: 1 0 auto;
  padding: $grid/4*3;
}

.medium-zoom-image--opened {
  z-index: 99999999;
}

.medium-zoom--opened .medium-zoom-overlay {
  z-index: 9999999;
}

a {
  color: $color-main;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:hover, a:active, a:focus {
  outline: 0;
}

a:hover {
  color: $color-red;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.video {
  margin: auto;
  margin-bottom: $grid*3;
  max-width: 600px;

  @include respond-to(medium) {
    max-width: 1400px;
  }

  video {
    display: block;

    width: 100%;
  }
}

p {
  margin-top: 0;
  line-height: 1.2rem;
  text-align: left;

  > a {
    text-decoration: underline;
  }
}

.block {
  margin: auto;
  margin-bottom: $grid*3;
  max-width: 600px;
  text-align: center;

  > .button {
    margin-top: 4px;
  }
}

#block-last {
  margin-bottom: 0;
}

.subscribe-success {
  margin: auto;
  width: 100%;
  max-width: $sizeM;
  padding: $grid/4*3;

  > a {
    text-decoration: underline;
  }
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.homepage {
  border-top: 1px solid $color-main;
  padding-top: $grid*2;

  // @include respond-to(medium) {
  //   padding-top: $grid*2;
  // }
}

.turbolinks-progress-bar {
  display: none;
}
