@font-face {
  font-family: 'MabryPro';
  src: url('../../fonts/MabryPro-Regular.woff2') format('woff2'),
       url('../../fonts/MabryPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('../../fonts/MabryPro-Medium.woff2') format('woff2'),
       url('../../fonts/MabryPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lotus Linotype';
  src: url('../../fonts/subset-Lotus-Bold.woff2') format('woff2'),
       url('../../fonts/subset-Lotus-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lotus Linotype';
  src: url('../../fonts/subset-Lotus-Light.woff2') format('woff2'),
       url('../../fonts/subset-Lotus-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@mixin header-font-size($size-normal, $size-small, $size-medium, $size-large, $size-xlarge) {
  font-family:  $main-font-family;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  margin-top: 0;
  margin-bottom: $grid/2;
  font-size: $size-normal;
  line-height: 1.8rem;
  @include respond-to(small)  { font-size: $size-small; }
  @include respond-to(medium) { font-size: $size-medium; margin-bottom: $grid; }
  @include respond-to(large)  { font-size: $size-large; }
  @include respond-to(x-large)  { font-size: $size-xlarge; }
}

h1 {
  @include header-font-size(1.5rem,1.5rem,3rem,3rem,3rem);
  margin-bottom: $grid;
  @include respond-to(medium) { line-height: 3.2rem; margin-bottom: $grid/2*3; }
}

h2 {
  @include header-font-size(1.5rem,1.5rem,2.5rem,2.5rem,2.5rem);
  @include respond-to(medium) { line-height: 2.6rem; }
}

h3 {
  @include header-font-size(1.6rem,1.6rem,1.6rem,1.6rem,1.6rem);
}

h4 {
  @include header-font-size(1rem,1rem,1rem,1rem,1rem);
}
