'Уважаемый конкурсант!
= "\r\n" * 2
'Рады сообщить, что вы прошли во второй этап Doha Prize 2020!
= "\r\n" * 2
' #{"Просим вас выбрать подходящую дату и время в календаре для прохождения онлайн интервью по ссылке – https://dalp.online/interview?t=" + @user.interview_token}
= "\r\n" * 2
'Вы сможете использовать эту ссылку для ознакомления с инструкцией перед онлайн интервью и сохранить в качестве напоминания о дате и времени прохождения онлайн интервью.
= "\r\n" * 2
'Обращаем ваше внимание, что перенос даты интервью возможен не менее чем за сутки до выбранного вами дня.
= "\r\n" * 2
'В случае неявки на онлайн-собеседование вы не сможете продолжить участие в конкурсе.
= "\r\n" * 2
' Будем рады ответить на все вопросы.
= "\r\n" * 2
'Поздравляем вас!
= "\r\n" * 2
'Команда Doha prize
