p Дорогие финалисты!
p style='margin-bottom: 0;' Рады пригласить вас на тестовый прогон церемонии, который состоится 17 декабря 2020 года в 11:00
p style='margin-top: 0;'
  a href="https://zoom.us/j/98504641562?pwd=ZlhRRVJqemVmQlB1UU5Kd1k3OFdidz09" Ссылка на тестовый прогон
p style='margin-bottom: 0;' Идентификатор конференции: 985 0464 1562
p style='margin-top: 0;' Код доступа: 134682
p style='margin-bottom: 0;' А также на саму церемонию награждения, которая состоится 17 декабря 2020 года в 16:10
p style='margin-top: 0;'
  a href="https://zoom.us/j/99586956340?pwd=TVUrSHlmcEpTM0piUWR3NTNCSmdaUT09" Ссылка на церемонию
p style='margin-bottom: 0;' Идентификатор конференции: 995 8695 6340
p style='margin-top: 0;' Код доступа: 630671
p По всем вопросам просьба звонить по номеру 89104037618
p Большое спасибо, до завтра!
p Команда Doha Prize
