p Добрый день,

p Поздравляем Вас с прохождением в полуфинал Всероссийского конкурса арабского языка Doha Prize. В настоящий момент проходит второй этап, конкурсанты уже проходят онлайн-интервью, но в связи с большим количеством заявок многие еще только ожидают этого этапа.

p = "Мы ради сообщить, что Ваш общий балл по результатам теста первого этапа составил #{@user.test.right_answers.count} из 100."

p Напоминаем, что в соответствии с правилами в конкурсе могут принять участие только граждане Российской Федерации от 18 до 35 лет (положение о конкурсе представлено на сайте). В случае несоблюдения формальных требований к участнику эксперты конкурса не смогут рассматривать заявку. Надеемся на ваше понимание!

p Оставайтесь на связи, желаем Вам удачи!

p Ваша команда Doha Prize
