p Добрый день,

p = "Большое спасибо, что приняли участие во Всероссийском ежегодном конкурсе арабского языка Doha Prize. К сожалению, в этом году Вы не набрали достаточного количества баллов для приглашения на следующий этап конкурса. Ваши баллы: #{@user.test.right_answers.count} из 100."

p Мы очень ценим Ваш интерес к изучению арабского языка и приглашаем Вас попробовать свои силы в следующем году.

p Следите за новостями и другими нашими проектами:

p style='margin-bottom: 5px;' Qatar Arabic Language Center
= link_to 'VK', 'https://vk.com/studyarabicru'
| &nbsp;
= link_to 'FB', 'https://facebook.com/studyarabicru'
| &nbsp;
= link_to 'Instagram', 'https://Instagram.com/studyarabicru'

p style='margin-bottom: 5px;' Cultural Creative Agency | Qatar-Russia
= link_to 'VK', 'https://vk.com/qatarrussia'
| &nbsp;
= link_to 'FB', 'https://www.facebook.com/QatarRussia.ru'
| &nbsp;
= link_to 'Instagram', 'https://www.instagram.com/cca_qatarrussia/'

p style='margin-bottom: 5px;' Qatar University
= link_to 'FB', 'https://www.facebook.com/qataruniversity'
| &nbsp;

= link_to 'Instagram', 'https://www.instagram.com/qataruniversity/'
p style='margin-bottom: 5px;' Кадровое агентство – Job for arabists
= link_to 'Сайт', 'https://jobforarabists.ru/'
| &nbsp;
= link_to 'FB', 'https://www.facebook.com/jobforarabists'
| &nbsp;
= link_to 'Instagram', 'https://vk.com/jobforarabists'
| &nbsp;
= link_to 'Instagram', 'https://www.instagram.com/jobforarabists/'

p Ваша команда Doha Prize
