'Добрый день,
= "\r\n" * 2
'#{"Большое спасибо, что приняли участие во Всероссийском ежегодном конкурсе арабского языка Doha Prize. К сожалению, в этом году Вы не набрали достаточного количества баллов для приглашения на следующий этап конкурса. Ваши баллы: #{@user.test.right_answers.count} из 100."}
= "\r\n" * 2
'Мы очень ценим Ваш интерес к изучению арабского языка и приглашаем Вас попробовать свои силы в следующем году.
= "\r\n" * 2
'Следите за новостями
= "\r\n" * 2
'Ваша команда Doha Prize
